language: php

php:
    - 7.0
    - 7.1
    - 7.2

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source --dev

script:
    - vendor/bin/phpspec run --config=phpspec-coverage.yml

after_success:
    - bash <(curl -s https://codecov.io/bash)

sudo: false

cache:
  directories:
    - $HOME/.composer/cache
